<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>
    <h1>Welcome to the Dashboard</h1>

    {% if session['username'] %}
    <p>Welcome, {{ session['username'] }}!</p>
{% else %}
    <p>You are not logged in</p>
{% endif %}


    <ul>
        <li><a href="{{ url_for('upload') }}">Upload Pictures</a></li>
        <li><a href="{{ url_for('classification') }}">Classify last Batch</a></li>
        <li><a href="{{ url_for('logout') }}">Logout</a></li>

    </ul>
    <br>
</body>
</html>
